@import "../../../theme/variables.scss";

.price-select {
  width: 40px;
  text-align: center;
  margin: 0 10px;
}
.article-date {
  font-size: 15px;
}
.article-desc {
  font-size: 12px;
  color: $muted-text;
}
.counter-buttons {
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
}
